body {
    padding: 16px;
    margin: 0;
    font-size: 1.3em;
    line-height: 1.6em;
    font-weight: 300;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.flex-container.reverse {
    flex-direction: row-reverse;
}

.flex-container.column.reverse {
    flex-direction: column-reverse;
}

#outer-container {
    margin-top: 16px;
}

.inner-container {
    color: black;
    background: #111;
    padding: 1em;
    margin: 4px;
}

#inner-container1 {
    border: 2px solid #7b2389;
}

#inner-container2 {
    border: 2px solid #a93232;
}

.item {
    padding: 1em;
    margin: 0.5em;
}

.item p {
    margin: 0;
}

.item1 {
    background: rgba(85, 102, 205, 0.7);
}

.item2 {
    background: rgba(125, 70, 200, 0.7);
}

.item3 {
    background: rgba(33, 150, 243, 0.7);
}

.item4 {
    background: rgba(0, 188, 212, 0.7);
}